**/*.pyc
**/.DS_Store
**/__pycache__/


/dspy-demo
/dspy-project/KnowledgeTracing/data/xes3g5m/images
/dspy-project/WSDM-Cup-Multilingual-Chatbot-Arena

/papers
paper_note.md
/imgs

/dspy-project/DOTS/output
/dspy-project/DOTS/metric
/dspy-project/DOTS/case
/dspy-project/DOTS/simple_evals

/dspy-project/KnowledgeTracing/output
/dspy-project/KnowledgeTracing/metric

/dspy-project/KnowledgeTracing/KCQRL/que_emb